<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="col-6" style="font-size: 14pt; text-align: left; color: white; width: 50%">
        <text style="font-weight: bold;" th:text="${userLogin.getEmail()}"/>
        with roles:
        <text th:each="role : ${userLogin.getRoles()}" th:text="${role.getRole()} + ' '"/>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 m-0 p-0 bg-white pt-4">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" th:if="${#request.isUserInRole('ADMIN')}">
                    <a class="nav-link active" href="/admin" >Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>
        <main class="col-10" style="background: #f8f9fa; height: 100%">
            <div style="margin: 20px;">
                <h2>Admin panel</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#description">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                    </li>
                </ul>
                <div class="tab-content">   <!-- Таблица с users-->
                    <div class="tab-pane fade show active" id="description">
                        <h2>All users</h2>
                        <table class="table table-striped bg-white">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="userTable"></tbody>
                        </table>
                    </div>

                    <!-- страница создания нового пользователя-->
                    <div class="tab-pane bg-white" id="newUser" aria-labelledby="newUserActive">
                        <h5 class="p-2 pl-3 m-0 rounded bg-light">Add new user</h5>
                        <div class="row pt-3 pb-3">
                            <div class="col-md-4 mx-auto col text-center">
                                <form id="newUserForm">
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="newFirstname">First name</label>
                                        <input type="text" class="form-control form-control-sm" id="newFirstname"
                                               name="firstname" placeholder="First name" required>

                                        <label for="newLastname">Last name</label>
                                        <input type="text" class="form-control form-control-sm" id="newLastname"
                                               name="lastname" placeholder="Last name" required>

                                        <label for="newAge">Age</label>
                                        <input type="number" class="form-control form-control-sm" id="newAge"
                                               name="age"placeholder="Age" required>

                                        <label for="newEmail">Email address</label>
                                        <input type="email" class="form-control form-control-sm" id="newEmail"
                                               name="email" placeholder="Enter email" required>

                                        <label for="newPassword">Password</label>
                                        <input type="password" class="form-control form-control-sm" id="newPassword"
                                               name="password" placeholder="Password" required>

                                        <br>
                                        <label>Role
                                            <select  id="newRole" class="form-control form-control-sm"
                                                    size="2" name="roles" multiple="multiple" required>
                                                <option th:each="role : ${AllRoles}" th:value="${role.role}"
                                                        th:text="${role.role}"
                                                        th:selected="${role.role} == USER"></option>
                                            </select>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary" onclick="newUser()">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- страница редактирования пользователя-->
                    <div class="modal fade" id="editModal" tabindex="-1"
                         aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div style="text-align: center;">
                                        <div class="row justify-content-center align-items-center">
                                            <form id="editForm">
                                                <div class="form-group text-center font-weight-bold">
                                                    <label for="editID">ID</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm" id="editID"
                                                           name="id" readonly/>

                                                    <label for="editFirstname">First name</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="editFirstname"
                                                           name="firstname">

                                                    <label for="editLastname">Last name</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="editLastname"
                                                           name="lastname">

                                                    <label for="editAge">Age</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="editAge"
                                                           name="age">

                                                    <label for="editEmail">Email address</label>
                                                    <input type="email"
                                                           class="form-control form-control-sm"
                                                           id="editEmail"
                                                           name="email">

                                                    <label for="editPassword">Password</label>
                                                    <input type="password"
                                                           class="form-control form-control-sm"
                                                           id="editPassword"
                                                           name="password">

                                                    <br>
                                                    <label>Role
                                                        <select id="editRole" lass="form-control form-control-sm"
                                                                size="2" name="roles"
                                                                multiple="multiple" required>
                                                            <option th:each="role : ${AllRoles}"
                                                                    th:value="${role.role}"
                                                                    th:text="${role.role}"
                                                                    th:selected="${role.role} == USER"></option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary"
                                            onclick="editUser()">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- страница удаления пользователя-->
                    <div class="modal fade" id="deleteModal" tabindex="-1"
                         aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div style="text-align: center;">
                                        <div class="row justify-content-center align-items-center">
                                            <form id="deleteForm">
                                                <div class="form-group text-center font-weight-bold">
                                                    <label for="deleteID">ID</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm" id="deleteID"
                                                           readonly/>

                                                    <label for="deleteFirstname">First name</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="deleteFirstname"
                                                           name="firstname"
                                                           readonly>

                                                    <label for="deleteLastname">Last name</label>
                                                    <input type="text"
                                                           class="form-control form-control-sm"
                                                           id="deleteLastname"
                                                           name="lastname"
                                                           readonly>

                                                    <label for="deleteAge">Age</label>
                                                    <input type="number"
                                                           class="form-control form-control-sm"
                                                           id="deleteAge"
                                                           name="age"
                                                           readonly>

                                                    <label for="deleteEmail">Email address</label>
                                                    <input type="email"
                                                           class="form-control form-control-sm"
                                                           id="deleteEmail"
                                                           name="email"
                                                           readonly>

                                                    <label for="deletePassword">Password</label>
                                                    <input type="password"
                                                           class="form-control form-control-sm"
                                                           id="deletePassword"
                                                           name="password"
                                                           readonly>

                                                    <br>
                                                    <label>Role
                                                        <select class="form-control form-control-sm"
                                                                size="2" name="Roles"
                                                                multiple="multiple"
                                                                readonly>
                                                            <option th:each="role : ${AllRoles}"
                                                                    th:value="${role.role}"
                                                                    th:text="${role.role}"
                                                                    th:selected="${role.role} == USER">
                                                            </option>
                                                        </select>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger"
                                            onclick="deleteUser()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/code.js"></script>
</body>
</html>